elasticsearch:
  version: 5.5
  config:
    cluster.name: Rad-Cluster-Name-Here
    node.name: ${HOSTNAME}
    path.data: /es/data
    path.logs: /es/logs
    bootstrap.memory_lock: true
    network.host: ["{{ grains['ipv4'][0] }}", "127.0.0.1"]
    http.port: 9200
    discovery.zen.ping.unicast.hosts: ["host1", "host2", "host3"]
    discovery.zen.minimum_master_nodes: 3
    gateway.recover_after_nodes: 3
    node.max_local_storage_nodes: 1
    action.destructive_requires_name: true
